.section.section--blue
  .section__container
    .container
      .section__title-wrapper
        .section__title Понравились фотографии?
      .section__text-wrapper
        .section__text Забронируйте номер прямо сейчас
      a.button.button--white-outline.button--small.js-showmodal(href='#', data-modal='callback') Заказать звонок