.section
  script(type="text/javascript", charset="utf-8", async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1baaf27e3a66440aed963f3f2390bf575946806c03402a1823987d94182a6502&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true')