#js-modal-callback(style='display: none;')
  .modal.modal--short
    .modal__title-wrapper
      .modal__title Обратный звонок
    .modal__description-wrapper
      .modal__description
        | Оставьте свои контактные данные и наши менеджеры свяжутся с Вами в течение 10 минут
    form.js-form-ajax(action='#')
      input(name='form_type' type='hidden' value='callback')
      .form-wrapper
        .form
          .form__group.js-form__group
            label.form__label(for='name')
              | Имя 
              span.form__label-required *
              | :
            input.form__input.js-form__input(name='name', type='text', placeholder='Иван', data-form-validator='required name')
          .form__group.js-form__group
            label.form__label(for='phone')
              | Телефон 
              span.form__label-required *
              | :
            input.form__input.js-form__input(name='phone', type='text', placeholder='+7 999 999 99 99', data-form-validator='required phone', data-form-mask='phone')
          .form__group.js-form__group
            button.button.button--red(type='submit') Отправить

#js-modal-order-room(style='display: none;')
  .modal.modal--wide
    .modal__title-wrapper
      .modal__title Бронь номера
    .modal__description-wrapper
      .modal__description
        | Оставьте свои контактные данные и наши менеджеры свяжутся с Вами в течение 10 минут
    form.js-form-ajax(action='#')
      input(name='form_type' type='hidden' value='booking')
      .form-wrapper
        .form
          .row
            .col-md-6.order-2.order-md-1
              .form__group.js-form__group
                label.form__label(for='fio')
                  | ФИО 
                  span.form__label-required *
                  | :
                input.form__input.js-form__input(name='fio', type='text', placeholder='Иванов Иван Иванович', data-form-validator='required name')
              .form__group.js-form__group
                label.form__label(for='phone')
                  | Телефон 
                  span.form__label-required *
                  | :
                input.form__input.js-form__input(name='phone', type='text', placeholder='+7 999 999 99 99', data-form-validator='required phone', data-form-mask='phone')
              .form__group.js-form__group
                label.form__label(for='phone') Электронная почта:
                input.form__input.js-form__input(name='email', type='text', placeholder='ivan@email.ru')
              .form__group.js-form__group
                label.form__label(for='comment') Комментарий:
                textarea.form__input.form__textarea.js-form__input(name='comment', type='text', placeholder='', rows='1', style='resize: none;')
            .col-md-6.order-1.order-md-2
              .form__group.js-form__group
                label.form__label(for='room')
                  | Номер 
                  span.form__label-required *
                  | :
                select.form__input(name='room' data-showmodal-import='room')
                  each room in data.rooms
                    option(value=room.name)= room.name
              .form__group.js-form__group
                label.form__label(for='food')
                  | Питание 
                  span.form__label-required *
                  | :
                select.form__input(name='food')
                  option(value='Без питания') Без питания
                  option(value='Завтрак 200/250 руб.') Завтрак 200/250 руб.
                  option(value='Завтрак-ужин 400/500 руб.') Завтрак-ужин 400/500 руб.
                  option(value='Завтрак-обед-ужин 600/750 руб.') Завтрак-обед-ужин 600/750 руб.
              .row
                .col-md-6
                  .form__group.js-form__group
                    label.form__label(for='date_enter')
                      | Заезд 
                      span.form__label-required *
                      | :
                    input.form__input.js-form__date(name='date_enter', type='text', data-form-validator='required')
                .col-md-6
                  .form__group.js-form__group
                    label.form__label(for='date_exit')
                      | Выезд 
                      span.form__label-required *
                      | :
                    input.form__input.js-form__date(name='date_exit', type='text', data-form-validator='required')
              .form__group.js-form__group
                label.form__label(for='time_enter')
                  | Время заезда 
                  span.form__label-required *
                  | :
                input.form__input.js-form__input(name='time_enter', type='text', placeholder='14:00, после обеда', data-form-validator='required')
              .row
                .col-md-6
                  .form__group.js-form__group
                    label.form__label(for='count_people')
                      | Жильцов 
                      span.form__label-required *
                      | :
                    input.form__input.js-form__input(name='count_people', type='text', placeholder='3', data-form-validator='required', data-form-mask='number')
                .col-md-6
                  .form__group.js-form__group
                    label.form__label(for='count_rooms')
                      | Номеров 
                      span.form__label-required *
                      | :
                    input.form__input.js-form__input(name='count_rooms', type='text', placeholder='2', data-form-validator='required', data-form-mask='number')
          .form__group.js-form__group
            button.button.button--red(type='submit') Отправить

#js-modal-success(style='display: none;')
  .modal.modal--short
    .modal__title-wrapper
      .modal__title Успешно
    .modal__description-wrapper
      .modal__description
        | Спасибо! Ваша заявка успешно отправлена!