.section.section--image.section--fullheight.section--layering.section-layer
  .section-layer__below
    .owl-carousel.header-slider.js-header-slider
      img.header-slider__image(src="assets/img/header-slider/head.jpg")
      img.header-slider__image(src="assets/img/header-slider/1315.jpg")
      img.header-slider__image(src="assets/img/header-slider/1322.jpg")
    .section-layer__gradient-dark
  .section-layer__above
    .container
      .section__container.section__container--small
        include /component/header/menu
      .section__container
        .row
          .col-lg-7
            //- .section__title-wrapper
            //-   .section__title.section__title--white= page.title
            .section__description-wrapper
              .section__description.section__description--white!= page.description
