.section.section--header.section--image.section--image-top
  .container
    .section__container.section__container--small
      include /component/header/menu
    .section__container
      if page.title
        .section__title-wrapper
          .section__title.section__title--white= page.title
      if page.description
        .row
          .col-lg-8
            .section__description-wrapper
              .section__description.section__description--white!= page.description