.header-menu
  .header-menu__left
    .header-menu__logo
      a(href='/')
        img(src='assets/img/logo.png')
    .button-group
      a.button.button--small-md-down.button--white.button--no-hpadding(href='/index.html') Главная
      a.button.button--small-md-down.button--white.button--no-hpadding(href='/rooms.html') Номера
      a.button.button--small-md-down.button--white.button--no-hpadding(href='/gallery.html') Галерея
  .header-menu__right
    .button-wrapper-single
      a.button.button--fullwidth.button--red.button.js-showmodal(href='#', data-modal='callback') Заказать звонок
    .button-wrapper-single
      a.button.button--fullwidth.button--red.button.js-showmodal(href='#', data-modal='order-room') Забронировать номер