.aside {
	&__title {
		@include text('h3');
		color: $colorTextHeading;
	}
}

.aside-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: rem-calc(26px) 0;

	&__icon {
		font-size: rem-calc(34px);
		margin-right: rem-calc(15px);

		.fa-stack i:first-child {
			color: $colorBlue;
		}

		.fa-stack i:last-child {
			color: $colorGrey;
		}
	}

	&__content {
		&-title {
			@include text('italic');
			font-size: rem-calc(24px);
			flex-grow: 1;
		}

		// &__text {}
	}
}