.badge {
  &-container {
    margin-right: -9px;
    margin-bottom: -9px;
  }

  cursor: default;
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 9px;
  padding: 5px 10px;
  border: 1px solid $colorGreyDarken2;
  font-size: $fontSizeSmall;
}