.button {
  @include transition('default');
  display: inline-block;
  padding: rem-calc(5px) rem-calc(13px);
  font: {
    size: $fontSizeH5;
    weight: bold;
  };
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid transparent;
  cursor: pointer;
  outline: none;

  &--fullwidth {
    display: block;
  }

  &--white {
    color: $colorGrey;

    &:hover {
      color: $colorGreyLighten;
    }
  }

  &--white-outline {
    border-color: $colorGrey;
    color: $colorGrey;

    &:hover {
      border-color: $colorGreyLighten;
      color: $colorGreyLighten;
    }
  }

  &--red {
    background-color: $colorRed;
    border-color: $colorRed;
    color: $colorGrey;

    &:hover {
      background-color: $colorRedLighten;
      border-color: $colorRedLighten;
    }
  }

  &--red-outline {
    border-color: $colorRed;
    color: $colorRed;

    &:hover {
      border-color: $colorRedLighten;
      color: $colorRedLighten;
    }
  }

  &--blue {
    background-color: $colorBlue;
    border-color: $colorBlue;
    color: $colorGrey;

    &:hover {
      background-color: $colorBlueLighten;
      border-color: $colorBlueLighten;
    }
  }

  &--blue-outline {
    border-color: $colorBlue;
    color: $colorBlue;

    &:hover {
      border-color: $colorBlueLighten;
      color: $colorBlueLighten;
    }
  }

  &--large {
    font-size: $fontSizeH4;
  }

  &--small {
    font-size: $fontSizeSmall;
  }

  &--small-md-down {
    @include media-breakpoint-down(md) {
      font-size: $fontSizeSmall;
    }
  }

  &--no-hpadding {
    padding-left: 0;
    padding-right: 0;
  }

  &-wrapper-primary {
    margin: rem-calc(60px) 0;
    text-align: center;
  }

  &-wrapper {
    margin: rem-calc(30px) 0;
  }

  &-wrapper-single {
    margin-bottom: rem-calc(10px);
  }
}