.footer-block {
	&__title {
		@include text('h3');
		color: #e6e6e6;
		margin: rem-calc(24px) 0;
	}

	&__content {
		color: #c2c2c2;

		a {
			color: #c2c2c2;
			text-decoration: none;

			&:hover {
				color: #dddddd;
			}
		}
	}

	&-accent {
		@include text('italic');
		margin-top: rem-calc(24px);
		font-size: rem-calc(20px);
		color: #939393;
	}
}

.footer-links {
	&__link {
		.icon {
			padding-right: rem-calc(10px);
		}

		&:not(:last-child) {
			margin-bottom: rem-calc(8px);
		}
	}
}