.form {
	&__group {
		margin-bottom: rem-calc(20px);

		&--error {
			.form__input {
				border-color: $colorRed;
			}
		}
	}

	&__label {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;

		&-required {
			color: $colorRed;
		}
	}

	&__input {
		@include transition('faster');
		width: 100%;
		box-sizing: border-box;
		padding: 10px 12px;
		outline: none;
		border: 1px solid $colorGreyDarken;

		&[readonly],
		&[disabled] {
			background-color: $colorGreyLighten;
		}
	}

	&__textarea {
		$heightInput: calc(#{$fontSizeBasic} + #{rem-calc(20px)});
		$heightMargin: rem-calc(20px);
		$heightLabel: calc(#{$fontSizeBasic} + 5px);
		height: calc((#{$heightInput} * 2) + #{$heightMargin} + #{$heightLabel} + (10px * 3));
	}

	&-wrapper {
		margin: rem-calc(30px) 0;
	}
}