.gallery {
	&-wrapper {
		&--small {
			margin: rem-calc(15px) 0;
		}
	}

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;

	&__item {
		position: relative;
		padding-bottom: 100%;
		overflow: hidden;

		img {
			@include transition('default');
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;

			&:hover {
				@include filter('darkness');
				transform: scale(1.1);
			}
		}
	}
}