.header-slider {
	height: 100%;

	.owl-stage-outer {
		height: 100%;
		.owl-stage {
			height: 100%;
			.owl-item {
				height: 100%;
			}
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: 6s ease-out;
	}

	.owl-item.active {
		.header-slider__image {
			transform: scale(1.025);
		}
	}
}