.header-menu {
	display: flex;
	align-items: center;
	flex-direction: column;

	@include media-breakpoint-up(md) {
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: row;
	}

	&__left {
		// flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;

		@include media-breakpoint-up(md) {
			// align-items: flex-start;
		}
	}

	&__right {
		margin-top: rem-calc(30px);
		// order: -1;

		@include media-breakpoint-up(md) {
			margin-top: 0;
		}
	}

	&__logo {
		// margin-right: rem-calc(13px);
		margin-bottom: rem-calc(30px);

		a {
			display: block;
			
			img {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				// max-width: 250px;
				// max-height: rem-calc(40px);
	
				@include media-breakpoint-up(md) {
					max-width: 250px;
				}

				@include media-breakpoint-up(lg) {
					max-width: 400px;
				}
			}
		}
	}
}