.img-slider {
	@include block('shadow');
	overflow: hidden;
	position: relative;

	&__item {
		width: 100%;
    height: rem-calc(500px);
    
    &--thin {
      height: rem-calc(350px);
    }

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&-wrapper {
		margin: rem-calc(60px) 0;
	}

	.owl-dots {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 10px;
		display: flex;
		justify-content: center;
		align-items: center;

		.owl-dot {
			padding: 5px !important;
			outline: none;

			span {
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: $colorGrey;
			}

			&.active {
				span {
					background-color: $colorRed;
				}
			}
		}
	}
}