.item-wide {
	&__image {
		height: 100%;
		position: relative;
		min-height: rem-calc(300px);
		// box-shadow: 10px 0 30px rgba(0, 0, 0, .17);

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			object-position: center;
		}
	}

	&__button-wrapper {
		margin-top: rem-calc(60px);
	}
}