.list {
  margin-bottom: -40px;
}

.list-item {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;

    // @include media-breakpoint-up(md) {
    //     &:after {
    //         // content: '';
    //         display: block;
    //         padding-top: 20px;
    //         width: 150px;
    //         margin-left: 40px;
    //         border-bottom: 1px solid $colorGreyDarken2;
    //     }
    // }

    // &--last {
    //     margin-bottom: 0;
    //     &:after {
    //         display: none;
    //     }
    // }

    &__header {
        @include text('h1');
        line-height: 1;
        color: $colorGreyDarken2;
        float: left;
        margin-right: 20px;

        @include media-breakpoint-up(md) {
            float: none;
            margin-right: 0;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
        }
    }

    &__text {
        @include media-breakpoint-up(md) {
            margin-left: 40px;
        }
    }
}