.modal {
	&--short {
		max-width: 400px;
	}

	&--wide {
		max-width: 1000px;
	}

	&__title {
		@include text('h1');
		display: block;
		font-weight: bold;
		padding-bottom: rem-calc(15px);

		&-wrapper {
			margin-bottom: rem-calc(15px);
			border-bottom: 5px solid $colorRed;
		}
	}

	&__description {
		@include text('italic');
		font-size: rem-calc(24px);

		&-wrapper {
			margin: rem-calc(15px) 0;
		}
	}
}