.parameter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  
  &__item {
    flex-shrink: 0;
  }
  
  &__divider {
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px dotted $colorGreyDarken2;
  }
}