.room-category {
  @include text('default');
  @include block('shadow-hover');
  @include transition('default');
  display: block;
  background-color: $colorGrey;
  height: 100%;

  $nesting: &;
  &:hover {
    background-color: $colorGreyLighten;

    #{$nesting}__image {
      img {
        @include filter('darkness');
      }

      &-text {
        left: 50%;
      }
    }
  }

  &:hover &__image-text {
    left: 50%;
  }

  &-wrapper {
    margin-bottom: 30px;
    height: calc(100% - 30px);
  }

  &__image {
    position: relative;
    overflow: hidden;
    height: rem-calc(200px);

    img {
      @include transition('default');
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-text {
      @include transition('ease-out');
      position: absolute;
      top: 50%;
      left: -50%;
      transform: translate(-50%, -50%);
      display: inline-block;
      padding: 10px 20px;
      color: white;
      border: 2px solid white;
    }
  }

  &__content {
    padding: rem-calc(20px);
  }

  &__name {
    @include text('h3');
    margin-bottom: rem-calc(20px);
  }

  // &__description {}
}

.room-category-footer {
  margin-top: rem-calc(30px);

  // &__text {
  // }

  &__button {
    margin: 0 auto;
  }
}