.room {
  &__slider {
    margin-bottom: rem-calc(30px);

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__parameters {
    margin-bottom: rem-calc(30px);
  }

  &__badges {
    margin-bottom: rem-calc(30px);
  }

  &__price {
    font-size: $fontSizeH3;
    font-weight: bold;
    margin-bottom: rem-calc(15px);

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-right: rem-calc(15px);
    }
  }
  
  &__discount {
    color: $colorRed;
    text-transform: uppercase;
    font-size: $fontSizeH4;
    font-weight: bold;
    margin-bottom: rem-calc(15px);

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
      margin-right: rem-calc(15px);
    }
  }

  &__button-order {
    text-align: center;
    
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }

  &__footer {
    margin: rem-calc(30px) 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}