.section {
  position: relative;
  overflow: hidden;
  background-color: $colorGrey;

  &--image {
    background-size: cover;
    background-position: center;

    &-top {
      background-position: top;
    }
  }

  &--fullheight {
    min-height: 100vh;
  }

  &--lighten {
    background-color: $colorGreyLighten;
  }

  &--darken {
    background-color: $colorGreyDarken;
  }

  &--blue {
    background-color: $colorBlue;
    color: $colorGrey;
  }

  &--header {
    background-image:
      linear-gradient(to top, rgba(20, 20, 20, .2), rgba(20, 20, 20, .85)),
      url('/assets/img/header-slider/head.jpg');
  }

  &--footer {
    background-color: #29303b;
  }

  &__container {
    margin: rem-calc(60px) 0;

    &--small {
      margin: rem-calc(30px) 0;
    }

    &--large {
      margin: rem-calc(90px) 0;
    }

    &--footer {
      margin: rem-calc(60px - 24px) 0;
    }
  }

  &__title {
    @include text('h1');
    display: block;
    font-weight: bold;

    &--white {
      color: $colorGrey;
    }

    &--center {
      text-align: center;
    }

    &--line {
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: calc(100% + #{getSize(2)});
        width: 9999px;
        height: 10px;
        background-color: $colorRed;
      }
    }

    &--color-heading {
      color: $colorTextHeading;
    }

    &-wrapper {
      margin: rem-calc(30px) 0;
    }

    &-wrapper-reset {
      margin-top: rem-calc(-30px);
    }
  }

  &__description {
    @include text('italic');
    font-size: rem-calc(24px);

    &--white {
      color: $colorGrey;
    }

    &--center {
      text-align: center;
    }

    &-wrapper {
      margin: rem-calc(30px) 0;
    }
  }

  &__text {
    &-wrapper {
      margin: rem-calc(30px) 0;
    }
   }
}