.section-layer {
	position: relative;

	&__below {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__above {
		position: relative;
		z-index: 2;
	}

	&__gradient-dark {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(to top, rgba(20, 20, 20, .2), rgba(20, 20, 20, .85));
	}
}