.daterangepicker {
	border-radius: 0;
	z-index: 99999;

	option.disabled,
	td.disabled {
		color: $colorGreyDarken;
		cursor: default;
		text-decoration: none;
	}

	td.active,
	td.active:hover {
		background-color: $colorRed;
	}
}