include /block/slider

block config
  -
    var seo = {
      title: 'Title doesn\'t set!',
      keywords: undefined,
    };

    var page = {
      title: undefined,
      description: undefined
    };

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= seo.title
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans+Condensed:300i,700&amp;subset=cyrillic-ext", rel="stylesheet")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
    link(rel="stylesheet", href="/assets/css/application.css")
    link(rel="icon" type="image/png" href="/assets/img/icon.png")
  body
    block content
    include /component/footer/main
    include /component/modal
    script(src="/assets/js/application.js")