// Mixins

@mixin text ($type) {
	@if ($type == 'h1') {
		font-family: 'Open Sans Condensed';
		font-weight: 700;
		font-size: $fontSizeH1;
	}
	@if ($type == 'h3') {
		font-family: 'Open Sans Condensed';
		font-weight: 700;
		font-size: $fontSizeH3;
	}
	@if ($type == 'italic') {
		font-family: 'Open Sans Condensed';
		font-weight: 300;
		font-style: italic;
	}
	@if ($type == 'default') {
		color: #333;
		text-decoration: none;
	}
}

@mixin block ($type) {
	@if ($type == 'shadow-hover') {
		@include transition(('default'));
		box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.04);
		&:hover {
			box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.1);
		}
	}
	@if ($type == 'shadow') {
		box-shadow: 0 10px 20px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.04);
	}
}

@mixin transition ($type) {
	@if ($type == 'ease-out') {
		transition: .3s ease-out;
	}
	@if ($type == 'default') {
		transition: .3s ease-in-out;
	}
	@if ($type == 'faster') {
		transition: .15s ease-in-out;
	}
}

@mixin filter ($type) {
	@if ($type == 'darkness') {
		filter: brightness(.4);
	}
}



// Functions

@function rem-calc($size) {
    @return $size / 16px + rem;
}

@function getSize($multiplier) {
	@return 15px * $multiplier;
}



// Variables

$colorGrey: #f6f6f6;
$colorGreyLighten: #fbfbfb;
$colorGreyDarken: #e6e6e6;
$colorGreyDarken2: #d2d2d2;
$colorBlue: #3568ba;
$colorBlueLighten: lighten($colorBlue, 8%);
$colorRed: #ba3434;
$colorRedLighten: lighten($colorRed, 8%);
$colorTextHeading: #3a3a3a;

$fontSizeH1: rem-calc(34px);
$fontSizeH3: rem-calc(24px);
$fontSizeH4: rem-calc(20px);
$fontSizeH5: rem-calc(18px);
$fontSizeBasic: rem-calc(16px); // define at rem-calc!!! 16px
$fontSizeSmall: rem-calc(14px);



// Selectors

html {
	font-size: 14px;

	@include media-breakpoint-up(sm) {
		font-size: 16px;
	}
}

body {
	@include text('default');
	min-width: 320px;
	font-family: 'Noto Sans';
	font-size: $fontSizeBasic;
}

body, button, input, optgroup, select, textarea {
	line-height: 1.6;
}

.text-center {
  text-align: center;
}