extends /layout/main

block append config
  - seo.title = 'Галерея изображений — Гостиница Москва'

block content

  include /component/header/main

  .section
    .section__container
      .container
        .section__title-wrapper
          .section__title.section__title--color-heading Гостиница "Москва"
        .gallery
          each item in [...Array(19).keys()].slice(1)
            - url = `/assets/img/main/${item+1}.jpg`;
            a.gallery__item(href=url, data-fancybox='main')
              img(src=url, alt='')
        each room in data.rooms
          .section__title-wrapper
            .section__title.section__title--color-heading= room.name
          .gallery
            each image in room.images
              a.gallery__item(href=image, data-fancybox=room.name)
                img(src=image, alt='')

  include /component/blue-callback