extends /layout/main

block append config
  - seo.title = 'Гостиница Москва'
  - page.title = 'Уютная гостиница в центре города'
  - page.description = 'Гостиница «Москва» - это тепло и уют в самом центре города Кургана по комфортной цене!'

block content

  include /component/header/index

  // Специальные предложения
  .section.section--darken
    .section__container
      .container
        .section__title-wrapper
          .section__title.section__title--color-heading.section__title--line Специальные предложения
        .row
          .col-lg-6
            .room-category-wrapper.wow.fadeInUp(data-wow-delay=`.4s`, data-wow-duration='.8s')
              .room-category
                .room-category__content
                  .room-category__name Тариф выходного дня!
                  .room-category__description
                    p Каждые выходные бронируйте номера со скидкой до 20%: с&nbsp;пятницы по воскресенье в гостинице действует специальный тариф выходного дня на следующие категории номеров:
                    ul
                      li люксы -20%
                      li полулюксы -15%
                      li  двухместные полулюксы -15%
          .col-lg-6
            .room-category-wrapper.wow.fadeInUp(data-wow-delay=`.8s`, data-wow-duration='.8s')
              .room-category
                .room-category__content
                  .room-category__name Длительное проживание
                  .room-category__description
                    p Гостиница «Москва» предоставляет своим гостям дополнительные скидки до 20% на проживание от 7 ночей. Процент получаемой скидки зависит от категории номера. В случае сокращения периода проживания на срок менее 7 суток, производится перерасчёт по основному тарифу.
          .col-lg-6
            .room-category-wrapper.wow.fadeInUp(data-wow-delay=`1.2s`, data-wow-duration='.8s')
              .room-category
                .room-category__content
                  .room-category__name Тариф на размещение групп
                  .room-category__description
                    p Гостиница «Москва» предлагает специальный тариф на размещение групп при бронировании номеров на выходные и праздничные дни! На детские группы действует дополнительная скидка.
        .room-category-footer
          .row.align-items-center
            .col-lg-8
              .room-category-footer__text
                p: i Все спецпредложения действуют только при брониронировании на нашем сайте, по телефону 89128357789 или 8(3522)650706 и по электронной почте hm650706@yandex.ru.
                  br
                  |  Мы с радостью ждём Вас!
            .col-lg-4
              .room-category-footer__button
                a.button.button--red(href='/rooms.html')
                  | Посмотреть все номера 
                  i.fas.fa-angle-double-right

  .section.section--lighten
    .section__container
      .container
        .section__title-wrapper-reset
          .section__title-wrapper
            .section__title.section__title--center Наши преимущества
          .section__text
            .list
              .row
                .col-lg-6
                  .list-item
                    .list-item__header 1.
                    .list-item__text Уникальное расположение - в 13 минутах ходьбы пешком от железнодорожного вокзала, 15 минут - от автовокзала и в 15 минутах езды до аэропорта; самый безопасный район города.
                .col-lg-6
                  .list-item
                    .list-item__header 2.
                    .list-item__text Центральная площадь города, парковые зоны, спортивные и культурные объекты и торговые центры в шаговой доступности от гостиницы; супермаркет в здании гостиницы.
                .col-lg-6
                  .list-item
                    .list-item__header 3.
                    .list-item__text Высокопрофессиональный и доброжелательный персонал, готовый решить все вопросы, связанные с пребыванием гостя в чужом городе.
                .col-lg-6
                  .list-item
                    .list-item__header 4.
                    .list-item__text Гибкая система скидок при длительном проживании, при заселении групп и для постоянных клиентов, бронирующих номера по телефону или через наш сайт!
                .col-lg-6
                  .list-item
                    .list-item__header 5.
                    .list-item__text 42 номера категории «Эконом» , «Стандарт», «Полулюкс», «Улучшенный», «Люкс» - по разумной цене.
                .col-lg-6
                  .list-item
                    .list-item__header 6.
                    .list-item__text 3 - 4 местные номера со всеми удобствами, идеально подходящие для семейного и группового проживания.
                .col-lg-6
                  .list-item
                    .list-item__header 7.
                    .list-item__text Кафе на 35 мест с домашней кухней - где могут приготовить блюда индивидуально для Вас , учитывая все Ваши пожелания! Хороший кофе и домашняя выпечка.
                .col-lg-6
                  .list-item
                    .list-item__header 8.
                    .list-item__text Комплексное питание – завтрак , обед и ужин , по желанию гостя, включается в стоимость проживания.
                .col-lg-6
                  .list-item
                    .list-item__header 9.
                    .list-item__text Коммерческое предложение индивидуально для Вас или для Вашей организации (по запросу).
        //-
          .row
            .col-lg-6
              .section__title-wrapper
                .section__title.section__title--center.section__title--first Наши преимущества
              .section__text
                .list
                  .list-item
                    .list-item__header 1.
                    .list-item__text Уникальное расположение - в 13 минутах ходьбы пешком от железнодорожного вокзала, 15 минут - от автовокзала и в 15 минутах езды до аэропорта; самый безопасный район города
                  .list-item
                    .list-item__header 2.
                    .list-item__text Центральная площадь города, парковые зоны, спортивные и культурные объекты и торговые центры в шаговой доступности от гостиницы; супермаркет в здании гостиницы
                  .list-item
                    .list-item__header 3.
                    .list-item__text Высокопрофессиональный и доброжелательный персонал, готовый решить все вопросы, связанные с пребыванием гостя в чужом городе
                  .list-item.list-item--last
                    .list-item__header 4.
                    .list-item__text Гибкая система скидок при длительном проживании, при заселении групп и для постоянных клиентов, бронирующих номера по телефону или через наш сайт!
            .col-lg-6
              .section__title-wrapper
                .section__title.section__title--center.section__title--first Мы предлагаем
              .section__text
                .list
                  .list-item
                    .list-item__header 1.
                    .list-item__text 42 номера категории «Эконом» , «Стандарт», « Полулюкс», «Улучшенный», «Люкс» - по разумной цене
                  .list-item
                    .list-item__header 2.
                    .list-item__text 3 - 4 местные номера со всеми удобствами, идеально подходящие для семейного и группового проживания
                  .list-item
                    .list-item__header 3.
                    .list-item__text Кафе на 35 мест с домашней кухней - где могут приготовить блюда индивидуально для Вас , учитывая все Ваши пожелания! Хороший кофе и домашняя выпечка
                  .list-item
                    .list-item__header 4.
                    .list-item__text Комплексное питание – завтрак , обед и ужин , по желанию гостя, включается в стоимость проживания
                  .list-item.list-item--last
                    .list-item__header 5.
                    .list-item__text Коммерческое предложение индивидуально для Вас или для Вашей организации (по запросу)

        .section__title-wrapper
          .section__title.section__title--center Бесплатно
        .row
          -
            const freeBlocks = [
              { title: 'Бронирование номеров'            , text: 'предварительное'                            , icon: 'list'           },
              { title: 'Домашние животные в номере'      , text: 'по предварительному согласованию'           , icon: 'paw'            },
              { title: 'Wi-Fi'                           , text: 'на территории гостиницы'                    , icon: 'wifi'           },
              { title: 'Парковка'                        , text: 'круглосуточная'                             , icon: 'parking'        },
              { title: 'Регистрация иностранных граждан' , text: 'круглосуточная'                             , icon: 'flag'           },
              { title: 'Сервисная комната'               , text: 'утюг, гладильная доска, микроволновая печь' , icon: 'concierge-bell' },
              { title: 'Багаж'                           , text: 'бережно сохраним'                           , icon: 'suitcase'       },
              { title: 'Такси'                           , text: 'с радостью закажем'                         , icon: 'taxi'           },

            ];
          each freeBlock, index in freeBlocks
            .col-lg-6
              .aside-block.wow.fadeInRight(data-wow-delay=`${(index+1)*0.05}s`, data-wow-duration='.8s')
                .aside-block__icon
                  span.fa-stack
                    i.fas.fa-circle.fa-stack-2x
                    i.fas.fa-stack-1x(class=`fa-${freeBlock.icon}`)
                .aside-block__content
                  .aside-block__content-title= freeBlock.title
                  .aside-block__content-text= freeBlock.text

  //- // Популярные номера
  //- .section.section--darken
  //-   .section__container
  //-     .container
  //-       .section__title-wrapper
  //-         .section__title.section__title--color-heading.section__title--line Популярные номера
  //-       .section__description-wrapper.wow.bounceInLeft
  //-         .section__description Выберите один из наших самых популярных вариантов номеров, который будет идеально подходить под Ваши нужды
  //-       .row
  //-         each room, index in data.rooms.slice(4,6)
  //-           .col-lg-6
  //-             .room-category-wrapper.wow.fadeInUp(data-wow-delay=`.${(index*1)+3}s`, data-wow-duration='.8s')
  //-               a.room-category.js-showmodal(href='#', data-modal='order-room', data-showmodal-attrs=`[{"name": "room", "value": "${room.name}", "type": "val"}]`)
  //-                 .room-category__image
  //-                   img(src=room.images[0])
  //-                   .room-category__image-text Заказать
  //-                 .room-category__content
  //-                   .room-category__name= room.name
  //-                   .room-category__description= Object.values(room.equipment).sort().join(', ')
  //-       .room-category-button-wrapper
  //-         a.button.button--red(href='/rooms.html')
  //-           | Посмотреть все номера 
  //-           i.fas.fa-angle-double-right

  //-
    // Большой блок слайдер
    .section.section--lighten
      .section__container
        .container
          .section__title-wrapper
            .section__title.section__title--center.wow.fadeIn Номер с двухспальной кроватью и ванной
          .section__description-wrapper
            .section__description.section__description--center.wow.fadeIn(data-wow-delay='.2s') Самый популярный среди наших клиентов
          .img-slider-wrapper
            .img-slider.js-img-slider.owl-carousel
              .img-slider__item
                img(src='https://source.unsplash.com/1600x900')
              .img-slider__item
                img(src='https://source.unsplash.com/1600x900')
              .img-slider__item
                img(src='https://source.unsplash.com/1600x900')
              .img-slider__item
                img(src='https://source.unsplash.com/1600x900')
              .img-slider__item
                img(src='https://source.unsplash.com/1600x900')
          .button-wrapper-primary
            a.button.button--red.button--large.wow.fadeIn(href='#', data-wow-delay='.4s') Забронировать номер

  //- Гостиница "Москва"
    .section
      .section__container
        .container
          .section__title-wrapper
            .section__title.section__title--color-heading.section__title--line Гостиница "Москва"
          .row
            .col-lg-8
              .section__text
                p Гостиница «Москва» в Кургане, расположенная в деловом центре города, открылась в Кургане в 1961 году. За годы присутствия на рынке гостиница завоевала признание многих гостей со всего мира.
                p Гостиничный комплекс предлагает гостям 84 просторных номеров от эконом-класса до люксов, изысканную кухню поваров, включая целый спектр разнообразных завтраков, начиная с легкого континентального и заканчивая сытным американским, конференц-зал,  бесплатную охраняемую парковку, а также круглосуточный сервис. У нас вы найдете оптимальное соотношение качества и стоимости предлагаемых услуг.
                p Расположение гостиницы «Москва», делает ее оптимальным вариантом размещения делегаций и гостей, прибывающих в город с целью деловых и рабочих визитов, и также прекрасно подходит для проживания частных посетителей. Развитая инфраструктура предлагает нашим гостям широкий выбор форм проведения досуга:  в шаговой доступности расположены Центральный парк культуры и отдыха, торгово-развлекательный центр, Культурно-Выставочный центр, множество кафе, баров и ресторанов на любой вкус. Размещение в гостинице Москве заменит вам аренду квартир посуточно.
                p Гостиница находится в 10 минутах ходьбы от железнодорожного, пригородного и авто-вокзалов, от аэропорта – 15 минут на машине.
            .col-lg-4
              .aside
                .aside__title Добраться до гостиницы
                .aside-block.wow.fadeInRight(data-wow-delay='.3s', data-wow-duration='.8s')
                  .aside-block__icon
                    span.fa-stack
                      i.fas.fa-circle.fa-stack-2x
                      i.fas.fa-bus.fa-stack-1x
                  .aside-block__content
                    .aside-block__content-title От железнодорожного вокзала
                    .aside-block__content-text 30, 31, 40, 301, 308, 329, 336
                .aside-block.wow.fadeInRight(data-wow-delay='.4s', data-wow-duration='.8s')
                  .aside-block__icon
                    span.fa-stack
                      i.fas.fa-circle.fa-stack-2x
                      i.fas.fa-plane-arrival.fa-stack-1x
                  .aside-block__content
                    .aside-block__content-title От аэропорта
                    .aside-block__content-text 349, 313, 75
                .aside-block.wow.fadeInRight(data-wow-delay='.5s', data-wow-duration='.8s')
                  .aside-block__icon
                    span.fa-stack
                      i.fas.fa-circle.fa-stack-2x
                      i.fas.fa-taxi.fa-stack-1x
                  .aside-block__content
                    .aside-block__content-title На такси
                    .aside-block__content-text +7 (3522) 22-22-22

  include /component/map