extends /layout/main

block append config
  - seo.title = 'Номера в гостинице — Гостиница Москва'
  - page.title = 'Номера гостиницы'
  - page.description = 'Внимание! В стоимость проживания не включен завтрак. По желанию гостя комплексный завтрак 200&nbsp;руб. оплачивается отдельно. Полупансион - 450&nbsp;руб , полный пансион – 700&nbsp;руб.'

block content

  include /component/header/main

  //- .section
  //-   .section__container.section__container--small
  //-     .container
  //-       .row
  //-         .col-lg-8.offset-lg-2
  //-           p
  //-             b Внимание!
  //-             br
  //-             i 


  each room, index in data.rooms
    .room
      .section(class={'section--lighten': index % 2 === 0})
        .section__container
          .container
            .section__title-wrapper
              .section__title.section__title--color-heading.section__title--line= room.name
            .row
              .col-lg-6
                .room__slider
                  +slider(room.images, true)
              .col-lg-6
                .room__parameters
                  .parameter
                    .parameter__item Кол-во комнат
                    .parameter__divider
                    .parameter__item= room.parameters.rooms
                  .parameter
                    .parameter__item Площадь
                    .parameter__divider
                    .parameter__item #{room.parameters.square} кв. м.
                  .parameter
                    .parameter__item Возможное кол-во проживающих
                    .parameter__divider
                    .parameter__item= room.parameters.residents
                .room__badges
                  .badge-container
                    each item in [...room.equipment.technology.sort(), ...room.equipment.hygiene.sort(), ...room.equipment.other.sort()]
                      .badge= item
            .room__footer
              .room__price
                | от #{room.parameters.price_start} руб.
              .room__discount
                | Скидка 5%
              .room__button-order
                a.button.button--red.button.js-showmodal(href='#', data-modal='order-room', data-showmodal-attrs='[{"name": "room", "value": "'+room.name+'", "type": "val"}]') Забронировать

  .section
    .section__container.section__container--small
      .container
        p: b Информация о проживании
        .row
          .col-lg-6
            p: b Время заезда - 12:00
            p 
              | Ранний заезд - с 6:00 до 11:59 дня заезда – гость может быть размещен в номере без дополнительной оплаты, если заезд не был забронирован заранее и есть доступные номера.
              br
              | Поздний заезд - с 00:00 до 11:59 дня заезда – оплата осуществляется за полные сутки, бронирование с предыдущих суток.
          .col-lg-6
            p: b Время выезда – 12:00
            p Поздний выезд – с 12:01 до 15:00 – бесплатно при наличии свободных номеров. с 15:01 до 23:59 – оплата осуществляется за половину суток при наличии свободных номеров
        .row
          .col-lg-8.offset-lg-2.text-center
            p: i Если Вы хотите продлить проживание в отеле, Вам необходимо сообщить об этом администратору за 24 часа до запланированного отъезда.

  //- include /component/blue-callback