.section.section--footer
  .section__container.section__container--footer
    .container
      .row
        .col-md-8.order-last.order-md-first
          .footer-block
            .footer-block__title Гостиница "Москва"
            .footer-block__content
              | Располагаясь в деловом центре города, Гостиница предлагает своим гостям комфорт и высокое качество обслуживания по доступным ценам. Данный ресурс является официальным сайтом гостиницы Москва.
              .footer-block-accent © Гостиница "Москва" 2010 - 2019 гг.
        .col-md-4.order-first.order-md-last
          .footer-block
            .footer-block__title Контакты
            .footer-block__content
              .footer-links
                .footer-links__link
                  a(href='https://yandex.ru/maps/53/kurgan/?z=16&ll=65.339599%2C55.435200&l=map&origin=jsapi_2_1_69&from=api-maps&um=constructor%3A34051b3b63239b9101573c23b68d7d7e03490eabee6758e8fc5592f164eb5882&mode=usermaps')
                    span.icon: i.fas.fa-fw.fa-building
                    | г. Курган, ул. Красина, д. 49
                .footer-links__link
                  a(href='tel:79128357789')
                    span.icon: i.fas.fa-fw.fa-phone
                    | +7 (912) 835-77-89
                .footer-links__link
                  a(href='mailto:hm650706@yandex.ru')
                    span.icon: i.fas.fa-fw.fa-envelope
                    | hm650706@yandex.ru
                .footer-links__link
                  a(href='https://vk.com/hotelmsk45')
                    span.icon: i.fab.fa-fw.fa-vk
                    | ВКонтакте
                .footer-links__link
                  a(href='https://www.instagram.com/hotelmsk45/')
                    span.icon: i.fab.fa-fw.fa-instagram
                    | Instagram
              .footer-block-accent Мы работаем круглосуточно!
